Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2022-10, with the labels that each got.

#147 Create DomActionList struct to represent future actions to be performed to the Dom
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/join_nodes.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom.rs
  crates/wysiwyg/src/dom/action_list.rs
  crates/wysiwyg/src/dom/dom_handle.rs
Labels: Rust

#154 [Android] Setup maven for local distribution, fix integration issues
  Makefile
  platforms/android/build.gradle
  platforms/android/gradle.properties
  platforms/android/library/build.gradle
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InputProcessor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/ComposerExtensions.kt
Labels: Android

#161 Bump Android lib version to 0.1.0
  platforms/android/gradle.properties
Labels: Android

#173 Customisable Text Color To Support Dark Theme
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#174 [iOS] Fix text view height computation
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#202 Allow formatting in empty composer
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/composer_model/selection.rs
  crates/wysiwyg/src/tests/test_formatting.rs
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
Labels: Android, Rust

#206 iOS: Customisable Caret Colour + Blinking/Flickering text fix in dark mode
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: bug, iOS

#208 iOS: Add support for focus/unfocus
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
Labels: iOS

#207 [Android] Fix formatting not being disabled when using hardware keyboard
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InterceptInputConnection.kt
Labels: Android

#209 Fix replacing first line with line break
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/tests/test_characters.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
Labels: Rust

#213 Remove UIKIt
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/WysiwygUIKit/AppDelegate.swift
  platforms/ios/example/WysiwygUIKit/Assets.xcassets/AccentColor.colorset/Contents.json
  platforms/ios/example/WysiwygUIKit/Assets.xcassets/AppIcon.appiconset/Contents.json
  platforms/ios/example/WysiwygUIKit/Assets.xcassets/Contents.json
  platforms/ios/example/WysiwygUIKit/Base.lproj/LaunchScreen.storyboard
  platforms/ios/example/WysiwygUIKit/Base.lproj/Main.storyboard
  platforms/ios/example/WysiwygUIKit/Info.plist
  platforms/ios/example/WysiwygUIKit/SceneDelegate.swift
  platforms/ios/example/WysiwygUIKit/UIView.swift
  platforms/ios/example/WysiwygUIKit/ViewController.swift
  platforms/ios/example/WysiwygUIKit/WysiwygHostingView.swift
  platforms/ios/example/WysiwygUIKit/WysiwygView.swift
  platforms/ios/example/WysiwygUITests/WysiwygUIKitTests.swift
Labels: iOS

#211 Fix inserting a new line before a new line at index 0 crashes
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/tests/test_characters.rs
Labels: Rust

#212 [Android] Catch and print composer errors on release versions, crash in debug mode
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InputProcessor.kt
Labels: Android

#218 Subhead is the default font size
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#223 [Android] extract composer index mapping, re-organize Android lib code
  Cargo.lock
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/ImeActions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/ComposerExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/RustExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InputProcessor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/InlineFormat.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/ReplaceTextResult.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/ExtraCharacterSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/InlineCodeSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/OrderedListSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/EditorIndexMapper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/EditorIndexMapperTests.kt
Labels: Android

#171 [Android] Setup CI to run UI tests
  .github/workflows/android.yml
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/res/layout/activity_test.xml
Labels: Android

#226 [Android] State restoration with ViewModel
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  crates/wysiwyg/src/composer_model/base.rs
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/library/build.gradle
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/ComposerExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/InlineCodeSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ResourcesProvider.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ViewLazyViewModelExtension.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
Labels: Android, Rust

#235 [Android] Add plain text APIs
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/AndroidHtmlConverterTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/RustExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlConverter.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/BasicHtmlConverter.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#236 Android: fix HW backspace keyboard input
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
Labels: Android

#245 iOS: Fixing missing keystroke bug + long press delete issue
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/WysiwygUITests/WysiwygSharedTests.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/PlaceholdableTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerContent.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/NSAttributedString+Attributes.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
Labels: iOS

#248 [Android] Fix text watchers called with empty string on every change
  .github/workflows/android.yml
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/SpanUtils.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
Labels: bug, Android
