Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2022-11, with the labels that each got.

#243 [iOS] Add unit test for plain text mode
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
Labels: iOS

#263 [Android] Fix failing tests after API changes
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#269 Add prettier error in eslint
  .github/workflows/react-build.yml
  platforms/web/.eslintrc.json
  platforms/web/package.json
  platforms/web/yarn.lock
Labels: Web

#272 [iOS] Fix clearing the content of the text view when plain text mode is enabled
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#270 Actions state map
  Cargo.lock
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-ffi/src/ffi_action_state.rs
  bindings/wysiwyg-ffi/src/ffi_composer_action.rs
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_menu_state.rs
  bindings/wysiwyg-ffi/src/lib.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  crates/wysiwyg/src/tests/test_formatting.rs
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
  platforms/ios/example/Shared/WysiwygAction+Utils.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/web/lib/useListeners/utils.test.ts
  platforms/web/lib/useListeners/utils.ts
Labels: Android, Rust, iOS

#295 iOS: Fix for voice dictation
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModelProtocol.swift
Labels: iOS

#297 [Android] Add RustCollector to catch and deal with Rust errors.
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/RustErrorCollector.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#299 [Android] Add markdown support to `EditorEditText`
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/MainActivity.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/layout/dialog_set_link.xml
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#318 [Android] Add incremental text diff support when typing
  platforms/android/.gitignore
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
Labels: Android

#322 Change Existing Links + Min Rust version
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/rust.yml
  .github/workflows/wasm.yml
  Cargo.lock
  Makefile
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  crates/wysiwyg/Cargo.toml
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/tests/test_links.rs
Labels: Android, Rust, iOS

#316 [iOS] Add a StringDiffer to help reconciliate the model with the content of the field
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModelProtocol.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/CollectionDifference.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/UITextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/StringDiffer.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Extensions/CollectionDifferenceTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Tools/StringDifferTests.swift
Labels: iOS

#324 Version 0.7.0
  CHANGELOG.md
  Cargo.lock
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  bindings/wysiwyg-wasm/package-lock.json
  bindings/wysiwyg-wasm/package.json
  crates/wysiwyg/Cargo.toml
  platforms/android/gradle.properties
  platforms/web/package.json
Labels: Android, Rust, iOS

#331 Test: Verifying the Link Action is in reversed state when the cursors is at the end of a link.
  crates/wysiwyg/src/tests/test_menu_state.rs
Labels: Rust

#332 [Android] Try to fix issues with FFI bindings being outdated on first run, CI publication issues
  .github/workflows/publish.yml
  platforms/android/library/build.gradle
Labels: Android

#325 Inline code formatting for several nodes
  crates/wysiwyg/src/composer_model.rs
  crates/wysiwyg/src/composer_model/delete_text.rs
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/format_inline_code.rs
  crates/wysiwyg/src/composer_model/join_nodes.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom/dom_handle.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/tests/test_undo_redo.rs
Labels: Rust

#314 Add ZWSP to all list items
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/unicode_string.rs
  crates/wysiwyg/src/tests/test_lists.rs
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests.swift
Labels: Android, iOS

#336 [Android] Fix current composition losing format after typing a whitespace
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
Labels: Android

#334 Adding text when cursor is at the end of the link, always places it outside of it
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  crates/wysiwyg/Cargo.toml
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/tests/test_links.rs
Labels: Rust

#341 Version 0.8.0
  CHANGELOG.md
  Cargo.lock
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  bindings/wysiwyg-wasm/package-lock.json
  bindings/wysiwyg-wasm/package.json
  crates/wysiwyg/Cargo.toml
  platforms/android/gradle.properties
  platforms/web/package.json
Labels: Android, iOS

#347 Use make setup to avoid duplications on uniffi version in mobile workflows
  .github/workflows/android.yml
  .github/workflows/ios.yml
Labels: Android, iOS
