Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2022-09, with the labels that each got.

#62 Refactor and split ComposerModel into its own module
  crates/wysiwyg/src/composer_model.rs
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/composer_model/delete_text.rs
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/composer_model/join_nodes.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/composer_model/selection.rs
  crates/wysiwyg/src/composer_model/undo_redo.rs
  crates/wysiwyg/src/lib.rs
Labels: Rust

#63 [iOS] Fix backspacing not using list attributed representation selection
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#64 [iOS] Move shared example apps content to standard files to ease up usage in UI tests
  platforms/ios/example/Shared/View+Accessibility.swift
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/ContentView.swift
  platforms/ios/example/WysiwygShared/.gitignore
  platforms/ios/example/WysiwygShared/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  platforms/ios/example/WysiwygShared/Package.swift
  platforms/ios/example/WysiwygShared/README.md
  platforms/ios/example/WysiwygUIKit/ViewController.swift
  platforms/ios/example/WysiwygUITests/WysiwygSharedTests.swift
Labels: iOS

#69 Android: add lists support
  crates/wysiwyg/src/tests/test_deleting.rs
  platforms/android/.gitignore
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/res/layout/activity_test.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InputProcessor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/RichTextEditor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/ComposerExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/OrderedListSpan.kt
  platforms/android/library/src/main/res/drawable/ic_ordered_list.xml
  platforms/android/library/src/main/res/drawable/ic_unordered_list.xml
  platforms/android/library/src/main/res/layout/view_rich_text_editor.xml
Labels: Android, Rust

#77 Disable removal of empty text nodes for formatting, as it broke some functionality
  crates/wysiwyg/src/composer_model/example_format.rs
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/tests/test_formatting.rs
Labels: Rust

#92 Lists indentation
  bindings/wysiwyg-ffi/src/ffi_composer_action.rs
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  crates/wysiwyg/src/composer_action.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/dom/dom_handle.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/range.rs
  crates/wysiwyg/src/tests/test_lists.rs
  crates/wysiwyg/src/tests/test_menu_state.rs
Labels: Rust

#95 [Android]: Add menu state listeners.
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/MainActivity.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/drawable/editor_menu_selector.xml
  platforms/android/example/src/main/res/drawable/ic_code.xml
  platforms/android/example/src/main/res/drawable/ic_format_bold.xml
  platforms/android/example/src/main/res/drawable/ic_format_italic.xml
  platforms/android/example/src/main/res/drawable/ic_format_strikethrough.xml
  platforms/android/example/src/main/res/drawable/ic_format_underline.xml
  platforms/android/example/src/main/res/drawable/ic_link.xml
  platforms/android/example/src/main/res/drawable/ic_ordered_list.xml
  platforms/android/example/src/main/res/drawable/ic_redo.xml
  platforms/android/example/src/main/res/drawable/ic_undo.xml
  platforms/android/example/src/main/res/drawable/ic_unordered_list.xml
  platforms/android/example/src/main/res/layout/activity_main.xml
  platforms/android/example/src/main/res/layout/dialog_set_link.xml
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/RichTextEditorTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/res/layout/activity_test.xml
  platforms/android/library/src/androidTest/res/values/ids.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/ComposerActivity.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InputProcessor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InterceptInputConnection.kt
Labels: Android

#101 Allow creation of empty format nodes
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/dom/find_range.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
Labels: Rust

#109 [iOS] Extend and normalize log messages
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/Logger.swift
Labels: iOS

#110 [iOS] Remove workaround for linebreaks
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#111 [iOS] Fix test target build
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests.swift
Labels: iOS

#124 Support multiple whitespaces
  crates/wysiwyg/src/composer_model/example_format.rs
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/find_range.rs
  crates/wysiwyg/src/dom/html_formatter.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/dom/nodes/line_break_node.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/dom/range.rs
  crates/wysiwyg/src/dom/to_html.rs
  crates/wysiwyg/src/dom/unicode_string.rs
  crates/wysiwyg/src/tests/test_characters.rs
  crates/wysiwyg/src/tests/test_deleting.rs
  crates/wysiwyg/src/tests/test_formatting.rs
  crates/wysiwyg/src/tests/testutils_composer_model.rs
  platforms/android/.idea/androidTestResultsUserPreferences.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/InterceptInputConnection.kt
Labels: Android, Rust

#132 [iOS] Run iOS tests on CI
  .github/workflows/ios.yml
  platforms/ios/example/WysiwygUITests/WysiwygSharedTests.swift
  platforms/ios/example/ios-tests.sh
Labels: iOS

#135 Trigger iOS CI with label
  .github/workflows/ios.yml
Labels: iOS

#137 Remove unnecessary empty text nodes.
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
Labels: Rust

#139 Add menu states to all buttons in the example UI
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
Labels: Android

#142 Allow for dynamic height text view and add support for dynamic font size
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/Wysiwyg/Views/ContentView.swift
  platforms/ios/example/WysiwygUIKit/Base.lproj/Main.storyboard
  platforms/ios/example/WysiwygUIKit/UIView.swift
  platforms/ios/example/WysiwygUIKit/WysiwygHostingView.swift
  platforms/ios/example/WysiwygUIKit/WysiwygView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: iOS

#141 Fix merge formatting nodes crash by keeping track of moved handles
  crates/wysiwyg/src/composer_model/format.rs
  crates/wysiwyg/src/composer_model/join_nodes.rs
  crates/wysiwyg/src/dom/dom_handle.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/range.rs
  crates/wysiwyg/src/tests/test_formatting.rs
Labels: Rust
