Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-06, with the labels that each got.

#700 Android: Allow pasting of non text content
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/UriContentListener.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
Labels: Android

#705 Fix reconciliate mechanism after multiple new lines
  platforms/ios/example/Wysiwyg/Views/AlertHelper.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString.Key.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/OriginalContent.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Replacement.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/StringDiffer.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/Extensions/NSAttributedStringRangeTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests+PermalinkReplacer.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Tools/StringDifferTests.swift
Labels: iOS

#710 Add onBeforeInput listener
  platforms/web/lib/useListeners/useListeners.ts
Labels: Web

#706 Update Android to use new mention insertion APIs
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/MatrixMentionLinkDisplayHandler.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/MatrixMentionMentionDisplayHandler.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/MatrixRoomKeywordDisplayHandler.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/fakes/SimpleKeywordDisplayHandler.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/TestMentionDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/display/KeywordDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/display/LinkDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/display/MentionDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/display/MemoizedKeywordDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/display/MemoizedLinkDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/CodeBlockSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/InlineCodeSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/LinkSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/PlainAtRoomMentionDisplaySpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/PlainKeywordDisplaySpan.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#731 Use correct message output format in conversion function
  platforms/web/lib/conversion.test.ts
  platforms/web/lib/conversion.ts
Labels: Web

#723 Ime composing
  platforms/web/lib/useListeners/useListeners.ts
  platforms/web/lib/useWysiwyg.test.tsx
  platforms/web/src/App.tsx
Labels: Web

#734 Linebreaks for blockquotes
  crates/wysiwyg/src/dom/parser/markdown/markdown_html_parser.rs
  crates/wysiwyg/src/tests/test_set_content.rs
Labels: bug, Rust
