Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-07, with the labels that each got.

#743 Set DTCoreText version to 1.6.26
  platforms/ios/example/Wysiwyg.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  platforms/ios/lib/WysiwygComposer/Package.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
Labels: iOS

#746 Fix Android Rust build config
  bindings/wysiwyg-ffi/Cargo.toml
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
Labels: Android, Rust

#745 Update uniffi version to 0.24.1
  .cargo/config.toml
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  Makefile
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-ffi/README.md
  build_xcframework.sh
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  uniffi-bindgen/Cargo.toml
  uniffi-bindgen/src/main.rs
Labels: Android, iOS

#751 Fix CTRL+Backspace behaviour on Windows
  platforms/web/lib/useListeners/event.test.ts
  platforms/web/lib/useListeners/event.ts
  platforms/web/lib/utils.test.ts
  platforms/web/lib/utils.ts
Labels: bug, Web

#749 Use library path and clear most of the UDL file
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-ffi/README.md
  bindings/wysiwyg-ffi/src/ffi_action_state.rs
  bindings/wysiwyg-ffi/src/ffi_composer_action.rs
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_composer_state.rs
  bindings/wysiwyg-ffi/src/ffi_composer_update.rs
  bindings/wysiwyg-ffi/src/ffi_dom_creation_error.rs
  bindings/wysiwyg-ffi/src/ffi_link_actions.rs
  bindings/wysiwyg-ffi/src/ffi_menu_action.rs
  bindings/wysiwyg-ffi/src/ffi_menu_state.rs
  bindings/wysiwyg-ffi/src/ffi_pattern_key.rs
  bindings/wysiwyg-ffi/src/ffi_suggestion_pattern.rs
  bindings/wysiwyg-ffi/src/ffi_text_update.rs
  bindings/wysiwyg-ffi/src/lib.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  build_xcframework.sh
  platforms/android/library/build.gradle
Labels: Android, iOS
