Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-02, with the labels that each got.

#545 [Android] Fix rendering of code with trailing new line
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelper.kt
Labels: Android

#549 [API breaking change] Rename UnIndent as Unindent
  bindings/wysiwyg-ffi/src/ffi_composer_action.rs
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_composer_update.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_action.rs
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/tests/test_lists.rs
  crates/wysiwyg/src/tests/test_menu_state.rs
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
  platforms/ios/example/Shared/View+Accessibility.swift
  platforms/ios/example/Wysiwyg/Extensions/WysiwygAction+Utils.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Indent.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygAction.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Indent.swift
  platforms/web/lib/constants.ts
  platforms/web/lib/useFormattingFunctions.ts
  platforms/web/lib/useListeners/utils.test.ts
  platforms/web/src/App.tsx
Labels: Android, Rust, iOS

#561 Fix code block HTML rendering
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/composer_model/code_block.rs
  crates/wysiwyg/src/composer_model/quotes.rs
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/tests/test_menu_state.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  crates/wysiwyg/src/tests/test_set_content.rs
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/ios/example/WysiwygUITests/WysiwygUITests+CodeBlocks.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+CodeBlocks.swift
  platforms/web/lib/dom.test.ts
Labels: Android, iOS

#571 [iOS] Remove force tries in binding code and adapt the overall code to throwing functions
  Makefile
  platforms/ios/example/Shared/View+Accessibility.swift
  platforms/ios/example/Wysiwyg/Views/ContentView.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerContent.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+CodeBlocks.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Emoji.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Format.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Indent.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+InlineCode.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Links.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Quotes.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests.swift
Labels: iOS

#576 [Android] Update NDK to r25c
  platforms/android/library/build.gradle
Labels: Android

#566 [Android] Recover from Rust model crashes
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#578 [iOS] Reapply pending formats after enter in list
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
Labels: iOS

#582 [iOS] Fix selection after lists
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/String+Character.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/StringDiffer.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/Extensions/NSAttributedStringRangeTests.swift
Labels: iOS

#585 Improve selection range computation
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/DTCoreText/DTHTMLElement.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/DTCoreText/PlaceholderTextHTMLElement.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString.Key.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/Extensions/NSAttributedStringRangeTests.swift
Labels: iOS

#581 Update HTML/markdown setting functions to return `Result` type
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_composer_update.rs
  bindings/wysiwyg-ffi/src/ffi_dom_creation_error.rs
  bindings/wysiwyg-ffi/src/lib.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/dom.rs
  crates/wysiwyg/src/dom/dom_creation_error.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/parser.rs
  crates/wysiwyg/src/dom/parser/markdown.rs
  crates/wysiwyg/src/dom/parser/markdown/markdown_html_parser.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/lib.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  crates/wysiwyg/src/tests/test_set_content.rs
  crates/wysiwyg/src/tests/test_to_markdown.rs
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Blocks.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Lists.swift
Labels: Android, iOS

#587 [iOS] Add a snapshot test for list inside quote
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Lists/testListInQuote.1.png
Labels: iOS

#590 Fix a warning on result usage for `set_content_from_html`
  crates/wysiwyg/src/composer_model/base.rs
Labels: Rust
