Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-09, with the labels that each got.

#796 [Android] Add fake mode for compose state for testing
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/FakeViewConnection.kt
  platforms/android/library-compose/src/test/java/io/element/android/wysiwyg/compose/FakeRichTextEditorStateTest.kt
Labels: Android

#800 Remove unnecessary escape characters in markdown output
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/to_markdown.rs
  crates/wysiwyg/src/tests/test_to_markdown.rs
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
Labels: Rust

#801 [Android] Add link support to compose library
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/LinkDialog.kt
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/ui/components/FormattingButtons.kt
  platforms/android/example-compose/src/main/res/drawable/ic_link.xml
  platforms/android/example-compose/src/main/res/values/strings.xml
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/FakeViewConnection.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/ViewConnection.kt
  platforms/android/library-compose/src/test/java/io/element/android/wysiwyg/compose/FakeRichTextEditorStateTest.kt
  platforms/android/library-compose/src/test/java/io/element/android/wysiwyg/compose/RichTextEditorStateHandleActionTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/models/LinkAction.kt
Labels: Android

#803 [Android] Fix performance issue caused by excessive recomposition
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
Labels: Android

#804 [Android] Fix missing link action updates in compose library
  bindings/wysiwyg-ffi/src/ffi_composer_update.rs
  bindings/wysiwyg-ffi/src/ffi_link_actions.rs
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/composer_update.rs
  crates/wysiwyg/src/lib.rs
  crates/wysiwyg/src/link_action.rs
  platforms/android/.idea/compiler.xml
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/testutils/EditorActions.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/view/models/LinkActionExt.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposerUpdateFactory.kt
Labels: Android, Rust, iOS

#810 [iOS] Add support to custom placeholder color
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
Labels: iOS

#813 [Android] Add customisation options for links and code
  platforms/android/build.gradle
  platforms/android/example-compose/build.gradle
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/ui/components/FormattingButtons.kt
  platforms/android/gradle/libs.versions.toml
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorStyleTest.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/RichTextEditorStyleExt.kt
  platforms/android/library/build.gradle
Labels: Android

#819 [Android] Allow font size customisation in compose
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
Labels: Android

#822 [Android] Add support for subcomposition and sharing state
  platforms/android/example-compose/build.gradle
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/example-view/build.gradle
  platforms/android/gradle/libs.versions.toml
  platforms/android/library-compose/build.gradle
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorActionsTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorStateTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorStyleTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/testutils/ComposeTestRuleExt.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/FakeViewConnection.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/ViewAction.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/ViewConnection.kt
  platforms/android/library-compose/src/test/java/io/element/android/wysiwyg/compose/FakeRichTextEditorStateTest.kt
  platforms/android/library/build.gradle
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/models/InlineFormat.kt
Labels: Android

#824 Fix crash on pressing enter after emoji
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/dom/find_range.rs
  crates/wysiwyg/src/dom/range.rs
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/res/layout/activity_test.xml
Labels: Android, Rust, iOS
