Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-04, with the labels that each got.

#645 Use attributes - contenteditable from client
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_composer_update.rs
  bindings/wysiwyg-ffi/src/lib.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/insert_parent.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/tests/test_links.rs
  crates/wysiwyg/src/tests/test_suggestions.rs
  crates/wysiwyg/src/tests/testutils_dom.rs
  platforms/ios/example/Wysiwyg/Views/WysiwygSuggestionList.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygMentionType.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Suggestions.swift
  platforms/web/lib/composer.ts
  platforms/web/lib/testUtils/Editor.tsx
  platforms/web/lib/types.ts
  platforms/web/lib/useFormattingFunctions.ts
  platforms/web/lib/useListeners/types.ts
  platforms/web/src/App.tsx
Labels: Android, Rust, iOS, Web

#646 Amend web bindings for slash commands
  bindings/wysiwyg-wasm/src/lib.rs
  platforms/web/src/App.tsx
Labels: Web

#651 Expose markdown content setter
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygMentionType.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+SetContent.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
Labels: iOS

#655 Add attributes to all link APIs
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/ffi_link_actions.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/tests/test_links.rs
  platforms/android/.idea/compiler.xml
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/LinkAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
  platforms/ios/example/Wysiwyg/Views/WysiwygActionToolbar.swift
  platforms/ios/example/Wysiwyg/Views/WysiwygSuggestionList.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Links.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Suggestions.swift
  platforms/web/lib/composer.ts
  platforms/web/lib/types.ts
  platforms/web/lib/useFormattingFunctions.ts
  platforms/web/lib/useListeners/types.ts
Labels: Android, Rust, iOS, Web

#652 Disable autocorrection if input is a command
  platforms/ios/example/Shared/View+Accessibility.swift
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Autocorrection.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/String+Character.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/UITextView.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Autocorrection.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
Labels: iOS
