Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-05, with the labels that each got.

#649 Add basic mentions to Android sample app
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/Mention.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/suggestions/MentionTypeExt.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/suggestions/PatternKeyExt.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/suggestions/MentionType.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#657 Fix failure on autocorrection tests if the keyboard is hidden on the simulator
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Autocorrection.swift
Labels: iOS

#663 Test that link custom attributes are passed properly to the model with the updated API
  crates/wysiwyg/src/tests/test_links.rs
Labels: Rust

#666 Fix `EditorViewModelTests` by adding missing mock
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposerUpdateFactory.kt
Labels: Android

#662 Add iOS unit test coverage upload to codecov
  .github/workflows/ios.yml
  .github/workflows/rust.yml
  .gitignore
  .ruby-version
  .slather.yml
  Gemfile
  Gemfile.lock
  platforms/ios/example/ios-test-coverage.sh
  platforms/ios/lib/WysiwygComposer/.swiftpm/xcode/xcshareddata/xcschemes/WysiwygComposerTests.xcscheme
Labels: iOS

#667 Add ability to customise link display on Android
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/MatrixMentionLinkDisplayHandler.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/Mention.kt
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/matrix/MentionType.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/fakes/FakeStyleConfig.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/EditorActions.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/androidTest/res/values/colors.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditTextAttributeReader.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/links/MemoizedLinkDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/suggestions/MentionTypeExt.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/suggestions/PatternKeyExt.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/links/LinkDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/PillSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/suggestions/MentionType.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/StyleConfig.kt
  platforms/android/library/src/main/res/values-night/colors.xml
  platforms/android/library/src/main/res/values/attrs.xml
  platforms/android/library/src/main/res/values/colors.xml
  platforms/android/library/src/main/res/values/styles.xml
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#677 [Android] Fix display of multiple identical custom link replacements
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/links/LinkDisplayHandler.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/CustomReplacementSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/PillSpan.kt
Labels: Android

#685 Disable invariant assertions by default
  .github/workflows/rust.yml
  crates/wysiwyg/Cargo.toml
  platforms/android/library/build.gradle
Labels: Android

#686 Add functions to get content in clean message format
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/composer_model/example_format.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/dom/nodes/line_break_node.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/to_html.rs
Labels: Rust

#694 [Android] Change HTML output to use message format
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorEditTextInputTests.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#693 Run iOS coverage for ui and unit tests separately
  .github/workflows/ios.yml
  platforms/ios/example/Wysiwyg.xcodeproj/xcshareddata/xcschemes/Wysiwyg.xcscheme
  platforms/ios/example/ios-tests.sh
  platforms/ios/example/ios-ui-test-coverage.sh
Labels: iOS
