Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-08, with the labels that each got.

#756 [Android] Fix coverage for compose library
  platforms/android/coverage.gradle
  platforms/android/gradle/libs.versions.toml
  platforms/android/library-compose/build.gradle
  platforms/android/library/build.gradle
Labels: Android

#759 [iOS] Handle paste and key commands
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/Wysiwyg/Views/ContentView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModelProtocol.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygKeyCommand.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests.swift
Labels: iOS

#757 [Android] Update dependencies
  .github/workflows/android.yml
  .github/workflows/publish.yml
  platforms/android/coverage.gradle
  platforms/android/example-compose/build.gradle
  platforms/android/example-view/build.gradle
  platforms/android/example-view/src/main/AndroidManifest.xml
  platforms/android/gradle.properties
  platforms/android/gradle/libs.versions.toml
  platforms/android/gradle/wrapper/gradle-wrapper.properties
  platforms/android/library-compose/build.gradle
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorActionsTest.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/AndroidManifest.xml
  platforms/android/library/src/main/AndroidManifest.xml
  platforms/android/settings.gradle
Labels: Android

#760 [Android] Publish compose library artifact
  platforms/android/README.md
  platforms/android/build.gradle
  platforms/android/gradle.properties
  platforms/android/gradle/libs.versions.toml
  platforms/android/library-compose/build.gradle
  platforms/android/library-compose/gradle.properties
  platforms/android/library/build.gradle
  platforms/android/library/gradle.properties
Labels: Android

#758 [Android] Expose style configuration for compose
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorStyleTest.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/RichTextEditorStyleExt.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/StyleConfig.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/HtmlToSpansParserTest.kt
Labels: Android

#764 [Android] Fix publication task for compose library
  platforms/android/library-compose/build.gradle
Labels: Android

#766 [Android] Expose more compose options
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorStyleTest.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/ViewConnection.kt
  platforms/android/library-compose/src/main/res/drawable/cursor.xml
Labels: Android

#767 [Android] Add preview support for compose
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorState.kt
Labels: Android

#770 Fix invalid markdown output caused by special characters
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/to_markdown.rs
  crates/wysiwyg/src/tests/test_to_markdown.rs
Labels: bug, Rust

#768 Fix iOS lib size
  Cargo.lock
  Cargo.toml
  bindings/wysiwyg-ffi/Cargo.toml
Labels: Android, iOS

#771 [Android] Revert Java toolchain JDK
  platforms/android/example-compose/build.gradle
  platforms/android/example-view/build.gradle
  platforms/android/library-compose/build.gradle
  platforms/android/library/build.gradle
Labels: Android

#772 [Android] Update failing test
  platforms/android/library-compose/src/androidTest/java/io/element/android/wysiwyg/compose/RichTextEditorTest.kt
Labels: Android

#777 Remove disabled swiftformat rule
  platforms/ios/example/.swiftformat
  platforms/ios/lib/WysiwygComposer/.swiftformat
Labels: iOS

#775 Update xcode version to 14.3.1
  .github/workflows/ios.yml
  .github/workflows/publish.yml
  platforms/ios/example/ios-test-coverage.sh
  platforms/ios/example/ios-ui-test-coverage.sh
Labels: iOS

#778 Revert "Update xcode version to 14.3.1 (#775)"
  .github/workflows/ios.yml
  .github/workflows/publish.yml
  platforms/ios/example/ios-test-coverage.sh
  platforms/ios/example/ios-ui-test-coverage.sh
Labels: iOS

#780 [Android] Fix Android publishing configuration
  RELEASE.md
  platforms/android/library-compose/build.gradle
Labels: Android

#791 Add a log level override
  platforms/ios/example/Wysiwyg/AppDelegate.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/Logger.swift
Labels: iOS

#793 Remove `WysiwygAction`
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Extensions/WysiwygAction+Utils.swift
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/Wysiwyg/Views/ComposerActionToolbar.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygAction.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
Labels: iOS
