Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-12, with the labels that each got.

#900 [Android] Add typing callback
  platforms/android/coverage.gradle
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
Labels: Android

#898 [Android] Fix line height changes in `EditorStyledText`
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/EditorStyledText.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/RichTextEditorStyleExt.kt
Labels: Android

#899 [Android] Fixes needed to get `EditorSyledTextView` to work with screenshot tests
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/EditorStyledText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlConverter.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ResourcesHelper.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/HtmlToSpansParserTest.kt
Labels: Android

#902 [Android] Implement `replaceText`
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
Labels: Android

#904 Fix enter right after mention crashing the editor
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/dom/dom_methods.rs
Labels: Android

#908 [iOS] Key Commands Refactor
  platforms/ios/example/Wysiwyg/Views/Composer.swift
  platforms/ios/example/Wysiwyg/Views/ContentView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygKeyCommand.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests.swift
Labels: iOS

#907 [Rust] fix multiple lines in markdown mode
  crates/wysiwyg/src/dom/parser/markdown/markdown_html_parser.rs
  crates/wysiwyg/src/tests/test_set_content.rs
Labels: Rust

#912 Android: add `onTextLayout` listener on the TextView component
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/EditorStyledText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/RustCleanerTask.kt
Labels: Android

#914 [Android] Add `releaseOnDetach` parameter to `EditorStyledText`
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/EditorStyledText.kt
Labels: Android
