Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-10, with the labels that each got.

#829 Fix background drawing when clearing quote / code block
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
Labels: iOS

#831 Fix reconciliate breaking with leading whitespaces
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/StringDiffer.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Tools/StringDifferTests.swift
Labels: iOS

#837 Ganfra/android rich text styled view
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/DefaultMentionDisplayHandler.kt
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/EditorStyledText.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditor.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorDefaults.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/RichTextEditorStyle.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/StyledHtmlConverter.kt
  platforms/android/library-compose/src/main/java/io/element/android/wysiwyg/compose/internal/RichTextEditorStyleExt.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/utils/AndroidHtmlConverter.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlConverter.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/StyleConfig.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/view/spans/ReuseSourceSpannableFactory.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/AndroidHtmlConverterTest.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/BasicHtmlConverter.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/HtmlToSpansParserTest.kt
Labels: Android

#843 [iOS] expose the set at room mention function
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Suggestions.swift
Labels: iOS

#845 [Android] Fix crash due to out of bounds error
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
Labels: Android

#834 Replace paragraphs with line breaks in message output
  crates/wysiwyg/src/composer_model/delete_text.rs
  crates/wysiwyg/src/composer_model/example_format.rs
  crates/wysiwyg/src/composer_model/format_inline_code.rs
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/composer_model/quotes.rs
  crates/wysiwyg/src/dom/dom_block_nodes.rs
  crates/wysiwyg/src/dom/dom_list_methods.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/find_extended_range.rs
  crates/wysiwyg/src/dom/iter.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/dom/nodes/line_break_node.rs
  crates/wysiwyg/src/dom/nodes/mention_node.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/dom/to_html.rs
  crates/wysiwyg/src/tests/test_characters.rs
  crates/wysiwyg/src/tests/test_deleting.rs
  crates/wysiwyg/src/tests/test_formatting.rs
  crates/wysiwyg/src/tests/test_links.rs
  crates/wysiwyg/src/tests/test_mentions.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  crates/wysiwyg/src/tests/test_to_markdown.rs
  crates/wysiwyg/src/tests/test_to_message_html.rs
  crates/wysiwyg/src/tests/test_to_plain_text.rs
  crates/wysiwyg/src/tests/test_to_tree.rs
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Blocks.swift
  platforms/web/lib/useWysiwyg.test.tsx
Labels: Android, iOS

#850 [iOS] getMentionsState function + tests
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/ComposerModelWrapper.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+MentionsState.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
Labels: iOS

#846 [Android] Handle and track more internal exceptions
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
Labels: Android
