Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-03, with the labels that each got.

#598 Fix leading whitespace getting ignored by parsers
  crates/wysiwyg/src/composer_model/code_block.rs
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/tests/test_characters.rs
  crates/wysiwyg/src/tests/test_deleting.rs
  crates/wysiwyg/src/tests/test_formatting.rs
  crates/wysiwyg/src/tests/test_links.rs
Labels: Android, iOS

#599 Revert vite back to v3, turn coverage back off
  .github/workflows/react-build.yml
  platforms/web/package.json
  platforms/web/yarn.lock
Labels: Web

#607 Fix plain text mode pill flush
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
Labels: iOS

#609 Fix plain text mode markdown with Pills
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Pills/WysiwygAttachmentView.swift
  platforms/ios/example/Wysiwyg/Pills/WysiwygPermalinkReplacer.swift
  platforms/ios/example/Wysiwyg/Pills/WysiwygTextAttachment.swift
  platforms/ios/example/Wysiwyg/Pills/WysiwygTextAttachmentData.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+PlainTextMode.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Suggestions.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLPermalinkReplacer.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/PermalinkReplacer.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests.swift
Labels: iOS

#612 Fix attributed index computation with multiple pills
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests+PermalinkReplacer.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests.swift
Labels: iOS

#613 [iOS] Disable link action when selection contains/touches Pills
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Attributes.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString.Key.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/ReplacementContent.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests+PermalinkReplacer.swift
Labels: iOS

#620 Write outside of links by default when cursor/selection is at the edge
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/range.rs
  crates/wysiwyg/src/tests/test_links.rs
Labels: Rust

#621 Fix iOS mention tests
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests+Suggestions.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Suggestions.swift
Labels: iOS

#626 Bump minimal swift-tools-version to 5.7
  platforms/ios/lib/WysiwygComposer/Package.swift
Labels: iOS

#627 Enable parsing link attributes & move link button disabling for immutable links to Rust
  bindings/wysiwyg-ffi/src/ffi_link_actions.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  bindings/wysiwyg-wasm/src/lib.rs
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/link_action.rs
  crates/wysiwyg/src/tests/test_get_link_action.rs
  platforms/ios/example/Wysiwyg/Views/WysiwygActionToolbar.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Attributes.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
Labels: Rust, iOS

#628 Fix Android build for disabled link action
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
Labels: Android
