Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2023-01, with the labels that each got.

#434 iOS: Snapshot testing
  platforms/ios/example/Wysiwyg.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  platforms/ios/lib/WysiwygComposer/Package.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/PlaceholdableTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewSnapshotTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/__Snapshots__/WysiwygComposerViewSnapshotTests/testClearState.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/__Snapshots__/WysiwygComposerViewSnapshotTests/testInlineCodeContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/__Snapshots__/WysiwygComposerViewSnapshotTests/testLinkContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/__Snapshots__/WysiwygComposerViewSnapshotTests/testPlainTextContent.1.png
Labels: iOS

#438 Fix special/extra character handling on Android
  platforms/android/.idea/.name
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/EditorIndexMapper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ZeroWidthSpace.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/EditorIndexMapperTests.kt
Labels: Android

#440 Enable list tests for Android
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
Labels: Android

#443 Include Espresso only in Android test configurations
  platforms/android/library/build.gradle
Labels: Android

#450 Fix broken Android tests
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/fakes/FakeStyleConfig.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
Labels: Android

#461 Add parsing of code blocks and quotes to the WASM HTML parser
  crates/wysiwyg/src/dom/parser/parse.rs
Labels: Web

#429 [Android] Add code blocks & quotes integration to the example Android app
  bindings/wysiwyg-ffi/src/ffi_composer_model.rs
  bindings/wysiwyg-ffi/src/wysiwyg_composer.udl
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/drawable/ic_code_block.xml
  platforms/android/example/src/main/res/drawable/ic_quote.xml
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/extensions/ComposerExtensions.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/CodeBlockSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/QuoteSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/EditorIndexMapper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ResourcesHelper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/mocks/MockComposer.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/viewmodel/EditorViewModelTest.kt
Labels: Android

#470 Fix link structure
  crates/wysiwyg/src/dom/dom_invariants.rs
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/dom/dom_struct.rs
  crates/wysiwyg/src/dom/insert_parent.rs
  crates/wysiwyg/src/dom/nodes/dom_node.rs
  crates/wysiwyg/src/tests/testutils_dom.rs
Labels: Rust

#474 Version 0.17.0
  CHANGELOG.md
  Cargo.lock
  RELEASE.md
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  bindings/wysiwyg-wasm/package-lock.json
  bindings/wysiwyg-wasm/package.json
  crates/wysiwyg/Cargo.toml
  platforms/android/gradle.properties
  platforms/web/package.json
Labels: Android, iOS

#477 Enable live document tree and display it by default
  platforms/ios/example/Wysiwyg/Views/ContentView.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+CodeBlocks.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Format.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Quotes.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
Labels: iOS

#478 Add custom background renderer for CodeBlock
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/fakes/FakeStyleConfig.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditTextAttributeReader.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/BlockRenderer.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundRenderer.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/BlockSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/CodeBlockSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/InlineCodeSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/StyleConfig.kt
  platforms/android/library/src/main/res/drawable/code_block_bg.xml
  platforms/android/library/src/main/res/values/attrs.xml
  platforms/android/library/src/main/res/values/dimens.xml
  platforms/android/library/src/main/res/values/styles.xml
Labels: Android

#486 Add inline code style helpers for Android
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/fakes/FakeStyleConfig.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditTextAttributeReader.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextViewAttributeReader.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelperFactory.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundRenderer.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/InlineCodeSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/StyleConfig.kt
  platforms/android/library/src/main/res/values/attrs.xml
  platforms/android/library/src/main/res/values/styles.xml
Labels: Android

#488 `get_link_action()` returns `CreateWithText` for blank selections
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/dom/nodes/text_node.rs
  crates/wysiwyg/src/tests/test_get_link_action.rs
  crates/wysiwyg/src/tests/test_links.rs
Labels: Rust

#489 Version 0.19.0
  CHANGELOG.md
  Cargo.lock
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  bindings/wysiwyg-wasm/package-lock.json
  bindings/wysiwyg-wasm/package.json
  crates/wysiwyg/Cargo.toml
  platforms/android/gradle.properties
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/EditorEditTextInputTests.kt
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Links.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Links.swift
  platforms/web/package.json
Labels: Android, Rust, iOS, Web

#505 Change how we calculate where to insert the new code block/quotes
  crates/wysiwyg/src/composer_model/code_block.rs
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/composer_model/quotes.rs
  crates/wysiwyg/src/dom/dom_block_nodes.rs
Labels: Rust

#509 Remove FIXME and restore working UI tests
  platforms/ios/example/WysiwygUITests/WysiwygUITests+CodeBlocks.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Format.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Quotes.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Typing.swift
Labels: iOS

#504 iOS: Paragraph support
  crates/wysiwyg/src/composer_model/base.rs
  crates/wysiwyg/src/composer_model/code_block.rs
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/composer_model/quotes.rs
  crates/wysiwyg/src/dom/dom_list_methods.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/tests/test_characters.rs
  crates/wysiwyg/src/tests/test_lists.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  crates/wysiwyg/src/tests/test_undo_redo.rs
  platforms/ios/example/WysiwygUITests/WysiwygUITests+CodeBlocks.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Format.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Quotes.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Typing.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/Extensions/NSAttributedStringRangeTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Blocks.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/TestConstants.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+CodeBlocks.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Quotes.swift
Labels: iOS

#519 [iOS] Enable indent/unindent
  platforms/ios/example/Shared/View+Accessibility.swift
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/Wysiwyg/Extensions/WysiwygAction+Utils.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Indent.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygAction.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/SnapshotTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Lists/testIndentedListContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Lists/testMultipleListsContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Lists/testOrderedListContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Lists/testUnorderedListContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Indent.swift
Labels: iOS

#507 [Android] Paragraphs integration
  crates/wysiwyg/src/composer_model/example_format.rs
  platforms/android/.gitignore
  platforms/android/.idea/gradle.xml
  platforms/android/example/src/main/java/io/element/android/wysiwyg/poc/RichTextEditor.kt
  platforms/android/example/src/main/res/drawable/ic_indent.xml
  platforms/android/example/src/main/res/drawable/ic_unindent.xml
  platforms/android/example/src/main/res/layout/view_rich_text_editor.xml
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/HtmlToSpansParserTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextViewAttributeReader.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/BlockRenderer.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelper.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundHelperFactory.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inlinebg/SpanBackgroundRenderer.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/models/EditorInputAction.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/OrderedListSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/spans/UnorderedListSpan.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/CharContants.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/ZeroWidthSpace.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/res/values/attrs.xml
Labels: Android

#530 Fix: insert paragraph at the start of a block node with enter
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
Labels: Android, Rust

#531 Fix: inserting paragraph at middle of block with enter
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
Labels: Rust

#525 Fix reversed actions in nested/indented lists
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/tests/test_menu_state.rs
Labels: Rust

#526 Fix menu state when adding inline_code to `toggled_format_types`
  crates/wysiwyg/src/composer_model/menu_state.rs
  crates/wysiwyg/src/tests/test_menu_state.rs
Labels: Rust

#529 Swiftier unit tests
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Extensions/ComposerModel.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+CodeBlocks.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Emoji.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Format.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Indent.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+InlineCode.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Links.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Lists.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests+Quotes.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/WysiwygComposerTests.swift
Labels: iOS

#534 Fix clippy issues
  .github/workflows/rust.yml
  crates/wysiwyg/src/composer_model/hyperlinks.rs
  crates/wysiwyg/src/composer_model/lists.rs
  crates/wysiwyg/src/dom/nodes/container_node.rs
  crates/wysiwyg/src/dom/parser/parse.rs
Labels: Rust

#541 [Android] Fix crashes in `EditorStyledTextView`
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/EditorStyledTextViewTest.kt
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/test/utils/TextViewActions.kt
  platforms/android/library/src/androidTest/res/layout/activity_test.xml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorStyledTextView.kt
  platforms/android/library/src/main/res/values/styles.xml
Labels: Android

#538 iOS: Adding some padding to blockquotes and codeblocks, and adding a side border to blockquotes
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/BlockStyle.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/DTCoreText/DTHTMLElement.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString.Key.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/UITextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParser.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/HTMLParserStyle.swift
  platforms/ios/lib/WysiwygComposer/Tests/HTMLParserTests/HTMLParserTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Blocks/testCodeBlockContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Blocks/testMultipleBlocksContent.1.png
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerSnapshotTests/__Snapshots__/SnapshotTests+Blocks/testQuoteContent.1.png
Labels: iOS

#543 Fix line indent after quotes & code blocks
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSMutableAttributedString.swift
Labels: iOS
