Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2024-01, with the labels that each got.

#918 Disable AVD cache for Android CI job
  .github/workflows/android.yml
Labels: Android

#919 Android: add IME rich content compatibility
  platforms/android/library/src/main/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnection.kt
Labels: Android

#916 [Android + Rust] Several editor fixes and tweaks
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/tests/test_deleting.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
  platforms/android/gradle/libs.versions.toml
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorEditText.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/internal/viewmodel/EditorViewModel.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
Labels: Android, Rust, iOS

#922 Fix for dictation not working on iOS 17
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
Labels: iOS

#926 Remove NBSP chars in `replace_text` for empty paragraphs
  crates/wysiwyg/src/composer_model/replace_text.rs
  crates/wysiwyg/src/tests/test_characters.rs
Labels: Android, Rust, iOS
