Repository matrix-org/matrix-rich-text-editor, pull requests merged in 2024-07, with the labels that each got.

#1004 Remove Ruby version: it was used for Slather, but we don't use it anymore
  .ruby-version
  renovate.json
Labels: iOS

#1006 Fix: crash when entering a new line after setting a blockquote with a single line through HTML
  crates/wysiwyg/src/composer_model/new_lines.rs
  crates/wysiwyg/src/dom/dom_methods.rs
  crates/wysiwyg/src/dom/parser/parse.rs
  crates/wysiwyg/src/tests/test_paragraphs.rs
Labels: Rust

#1010 Version 2.37.5
  CHANGELOG.md
  Cargo.lock
  bindings/wysiwyg-ffi/Cargo.toml
  bindings/wysiwyg-wasm/Cargo.toml
  bindings/wysiwyg-wasm/package-lock.json
  bindings/wysiwyg-wasm/package.json
  crates/wysiwyg/Cargo.toml
  platforms/android/gradle.properties
  platforms/web/package.json
Labels: Android, Rust, iOS, Web

#1015 CJK Testing
  .github/workflows/ios.yml
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Keyboard.swift
  platforms/ios/example/ios-keyboards-setup.sh
Labels: iOS

#890 Fix inline predictive text and keyboard suggestion toolbar use cases.
  .github/workflows/ios.yml
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Keyboard.swift
  platforms/ios/example/WysiwygUITests/WysiwygUITests.swift
  platforms/ios/lib/WysiwygComposer/Sources/HTMLParser/Extensions/NSAttributedString+Range.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModel.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygComposerViewModelProtocol.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Components/WysiwygComposerView/WysiwygTextView.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Extensions/String.swift
  platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/Tools/StringDiffer.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Components/WysiwygComposerView/WysiwygComposerViewModelTests.swift
  platforms/ios/lib/WysiwygComposer/Tests/WysiwygComposerTests/Extensions/String+LatinLangugesTests.swift
Labels: iOS

#1020 Xcode 15.4 support
  .github/workflows/ios.yml
  .github/workflows/publish.yml
  platforms/ios/example/Wysiwyg.xcodeproj/project.pbxproj
  platforms/ios/example/WysiwygUITests/WysiwygUITests+Keyboard.swift
  platforms/ios/example/ios-test-coverage.sh
  platforms/ios/example/ios-ui-test-coverage.sh
Labels: iOS

#1019 Use Jsoup instead of TagSoup for HTML parsing.
  platforms/android/example-compose/src/main/java/io/element/wysiwyg/compose/MainActivity.kt
  platforms/android/gradle/libs.versions.toml
  platforms/android/library/build.gradle
  platforms/android/library/src/androidTest/java/io/element/android/wysiwyg/inputhandlers/InterceptInputConnectionIntegrationTest.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/EditorTextWatcher.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/HtmlToSpansParser.kt
  platforms/android/library/src/main/java/io/element/android/wysiwyg/utils/LoggingConfig.kt
  platforms/android/library/src/test/kotlin/io/element/android/wysiwyg/utils/HtmlToSpansParserTest.kt
Labels: Android

#1013 Fix lib type export
  platforms/web/.eslintignore
  platforms/web/lib/types.ts
  platforms/web/lib/useTestCases/types.ts
  platforms/web/lib/useTestCases/useTestCases.ts
  platforms/web/lib/useTestCases/utils.ts
  platforms/web/lib/useWysiwyg.ts
  platforms/web/vite.config.ts
Labels: Web

#1027 Stop the composer being re-initialised when customSuggestionPatterns change
  platforms/web/lib/useComposerModel.test.tsx
  platforms/web/lib/useComposerModel.ts
Labels: Web
